<mat-drawer-container class="example-container">
	<mat-drawer mode="side" opened>
		<mat-nav-list>
   			<a mat-list-item href="settings/email"> Change Email </a>
   			<a *ngIf="auth.getAccess() < 3" mat-list-item href="settings/request"> Request Elevated Access </a>
   			<a *ngIf="auth.hasAccessLevel(3)" mat-list-item href="settings/manage"> Manage User Access Levels </a>
		</mat-nav-list>
	</mat-drawer>
	<mat-drawer-content>
		<mat-card>
		<mat-card-header>
    		<mat-card-title>Settings</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			Current access level: {{userService.ACCESSES[auth.getAccess()].description}}
			<br>
			Current email address: {{auth.getLoggedInEmail()}}
		</mat-card-content>
		</mat-card>
	</mat-drawer-content>
</mat-drawer-container>
