<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
        <a mat-list-item routerLink="/settings"> Overview </a>
        <a mat-list-item> Change Email </a>
        <a *ngIf="auth.getAccess() < 3" mat-list-item routerLink="/settings/request"> Request Elevated Access </a>
        <a *ngIf="auth.hasAccessLevel(3)" mat-list-item routerLink="/settings/manage"> Manage User Access Levels </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Change Email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="createEmailForm">
        <table class="w-100" cellspacing="0">
            <tr>
                <td>
                  <mat-form-field class="w-100"
                    [ngClass]="submitted && createEmailForm.controls.currentEmail.errors ? 'mat-form-field-invalid' : ''">
                    <input matInput placeholder="Current Email" formControlName="currentEmail" name="currentEmail" type="email"
                      readonly>
                  </mat-form-field>
                </td>
              </tr>
          <tr>
            <td>
              <mat-form-field class="w-100"
                [ngClass]="submitted && createEmailForm.controls.newEmail.errors ? 'mat-form-field-invalid' : ''">
                <input matInput placeholder="New Email" formControlName="newEmail" name="newEmail" type="email"
                  required (keyup.enter)="submit()">
                <mat-error *ngIf="createEmailForm.get('newEmail').hasError('required')">
                  Name is required.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="w-100"
                [ngClass]="submitted && createEmailForm.controls.password.errors ? 'mat-form-field-invalid' : ''">
                <input title = "Confirm password" matInput placeholder="Password" formControlName="password" type="password" name="password"
                  required (keyup.enter)="submit()">
                <mat-error *ngIf="createEmailForm.get('password').hasError('required')">
                  Device Secret is required.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submit()" color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
  </div>
</mat-drawer-content>
</mat-drawer-container>
