<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Change Email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="createEmailForm">
        <table class="w-100" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="w-100"
                [ngClass]="submitted && createEmailForm.controls.email.errors ? 'mat-form-field-invalid' : ''">
                <input matInput placeholder="Email address" formControlName="email" name="email" type="email"
                  required (keyup.enter)="submit()">
                <mat-error *ngIf="createEmailForm.get('email').hasError('required')">
                  Email is required.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
         
          <tr>
            <td>
              <mat-form-field class="w-100"
                [ngClass]="submitted && createEmailForm.controls.password.errors ? 'mat-form-field-invalid' : ''">
                <input title = "Confirm password" matInput placeholder="Password" formControlName="password" type="password" name="password"
                  required (keyup.enter)="submit()">
                <mat-error *ngIf="createEmailForm.get('password').hasError('required')">
                  Password is required.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submit()" color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
  <div class="card-container">
