.logo {
    height: 64px;
    display: inline;
    padding-right: 16px;
}

.login-container {
    float: right;
}
.wrapper {
    vertical-align: middle;
}
.flex-container {
    height: 75px;
}
.spacer {
    flex: 1 1 auto;
}

.edcs-header {
    background-image: url("/assets/edcs header.jpg");
    background-size: 70%;
}