<!--<div class="flex-container">
  <div class="mat-elevation-z6" style="padding: 8px;">
    <div class="wrapper">
      <img class="logo" src="../../../assets/EDCS min.png">
    </div>
    <div class="wrapper login-container" style="margin-left: auto; width: min-content">
      <div *ngIf="auth">
        <button mat-raised-button color="primary" (click)="signOut()">Sign Out</button>
      </div>
      <div *ngIf="!auth">
        <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
      </div>
    </div>
  </div>
</div>
-->
<mat-toolbar class="mat-elevation-z2 edcs-header" color="primary">
  <mat-toolbar-row>
    <span>
      <a (click)="home()">
        <img class="logo" src="../../../assets/EDCS min.png">
      </a>
    </span>
    <button mat-button (click)="home()">Home</button>
    <button mat-button (click)="experiments()">Experiments</button>
    <button *ngIf="auth.hasAccessLevel(1)"  mat-button (click)="outputData()">Output data</button>


      <span class="spacer"></span>
      <app-notification *ngIf="auth.hasAccessLevel(3)"></app-notification>
      <button *ngIf="auth.hasAccessLevel(1)" mat-icon-button [matMenuTriggerFor]="add" aria-label="Add new">
        <mat-icon>add</mat-icon>
      </button>

      <mat-menu #add="matMenu">
        <button mat-menu-item (click)="newExperiment()">
          <span>Add new Experiment</span>
        </button>
        <button mat-menu-item (click)="newDevice()">
          <span>Add new Device</span>
        </button>
        <!--<button mat-menu-item (click)="newUserInput()">
          <span>Add new User Input</span>
        </button>
        <button mat-menu-item (click)="newDeviceOutput()">
          <span>Add new Device Output</span>
        </button>-->
      </mat-menu>

      <button mat-icon-button (click)="settings()" aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>

      <div *ngIf="auth.isLoggedIn()">
        <button mat-raised-button color="accent" (click)="signOut()">Sign Out</button>
      </div>
      <div *ngIf="!auth.isLoggedIn()">
        <button mat-raised-button color="accent" (click)="signIn()">Sign In</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
