<!--<div class="flex-container">
  <div class="mat-elevation-z6" style="padding: 8px;">
    <div class="wrapper">
      <img class="logo" src="../../../assets/EDCS min.png">
    </div>
    <div class="wrapper login-container" style="margin-left: auto; width: min-content">
      <div *ngIf="auth">
        <button mat-raised-button color="primary" (click)="signOut()">Sign Out</button>
      </div>
      <div *ngIf="!auth">
        <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
      </div>
    </div>
  </div>
</div>
-->
<mat-toolbar class="mat-elevation-z2 edcs-header" color="primary">
  <mat-toolbar-row>
    <span>
      <a (click)="home()">
        <img class="logo" src="../../../assets/EDCS min.png">
      </a>
    </span>
    <button mat-button mat-button (click)="home()">Home</button>
      <span class="spacer"></span>
      <div *ngIf="auth.isLoggedIn()">
        <button mat-raised-button color="accent" (click)="signOut()">Sign Out</button>
      </div>
      <div *ngIf="!auth.isLoggedIn()">
        <button mat-raised-button color="accent" (click)="signIn()">Sign In</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>