<section class="intro">  
    <div class="content">
        <h1>Welcome Home {{name}}!</h1>
        <p>The Embedded Data Collection serves to collect and display realtime data from bio-inspired devices from the Kate Gleason College of Engineering.
        </p>
        <button matTooltip="Current Access Level: {{accessLevel}}" matTooltipClass aria-label="request-access" mat-raised-button color="primary" *ngIf="!auth.hasAccessLevel(3)" [routerLink]="getRequestAccessPath()">
                Request Access
        </button>
    </div>
</section>

<section>
    <div class="content">
        <h1>Main Features/Benefits</h1>
        <p>Created by students of the SE department, this website is loaded with features which you can use to your advantage. Check them out!</p>
        <div class="featureList" style="display: flex">      
            <p class="featureList" >1. Manage Experiment Data</p>
            <p class="featureList" >2. Link Decives</p>
            <p class="featureList" >3. Download Data</p>
            <img src="assets/features.png">
        </div>
    </div>
</section>
<section>  
    <div class="content">
        <h1>Contact Us</h1>
        <p>Have problems? Need help? Contact <a href="mailto:kaleme@rit.edu">Kathleen Lamkin-Kennard</a> </p>
        <div id="contactInfo">
            <img id="emailIcon" src="assets/email.svg" style="margin-right: 2em;">
            <a href="mailto:kaleme@rit.edu">kaleme@rit.edu</a>
        </div>
        <br>
        <div id="contactInfo">
            <img id="phoneIcon" src="assets/phone.svg" style="margin-right: 2em;">
            585-475-6775
        </div>
        <br>
        <br>
        <div id="bioselLogo" style="width: 200px">
                <img  src="assets/bio_sel.svg">
        </div>

        <br>
        <br>
        <br>
        <br>
        <div id="credit">
                <div>Icons made by <a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>   
        </div>
     </div>
</section>
      
