<section class="intro">  
    <div class="content">
        <h1>Welcome Home!</h1>
        <p>Autonomous System Tracking: Measuring, Evaluating and Collecting
            Decisions Made by UAVs, Bioinspired Devices, and other Autonomous
            Systems.
        </p>
    </div>
</section>
      
<section>  
    <div class="content">
        <h1>Contact Us</h1>
        <p>If you would like to request higher access contact <a href="mailto:kaleme@rit.edu">Kathleen Lamkin-Kenard</a> 
        </p>
    </div>
</section>
      
<footer>
        Kate Gleason College of Engineering
</footer>
      
