  * {
    box-sizing: border-box; 
  }
  
  body {
    margin: 0; 
    font-weight: 500;
    font-family: 'HelveticaNeue';
  }
  
  section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
    
    &:nth-of-type(2n) {
      background-color: rgba(102, 124, 137, 0.705);
    }
  }
  
  .intro {
    height: 90vh;
  }
  
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  
  h1 {
    font-size: 3em;
    display: block;
    color: #D65B26;
    font-weight: 300;
  }
  
  p {
    font-size: 1.5em;
    font-weight: 500;
    color: #373B43;
    margin-right: 200px;
  }

  mat-grid-tile {
      font-size: 1.5em;
      font-weight: 500;
      color: #373B43;
      list-style-type: none;
      margin-top: 0;
  }

  li {
    font-size: 1.5em;
    font-weight: 500;
    color: #373B43;
    list-style-type: circle;
    margin-top: 0;
}
  
  a {
    font-weight: 700;
    color: #373B43;
    position: relative;
    
    &:hover{ 
      opacity: 0.8;
    }
    
    &:active {
      top: 1px;
    }
  }

  // may remove footer altogether
  footer {
    padding: 1% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
    
    a {
      color: #FE4B74;
      font-weight: 500;
      text-decoration: none;
    }
  }