<div class="card-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create User Input</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="userInputForm">
          <table class="w-100" cellspacing="0">
              <tr>
                  <td>
                      <mat-form-field class="w-100" [ngClass]="submitted && userInputForm.controls.experimentId.errors ? 'mat-form-field-invalid' : ''">
                          <input matInput placeholder="Experiment Name" formControlName="experimentId" required>
                          <mat-select formControlName="experimentId" required>
                                <mat-option *ngFor="let experiment of experiments" [value]="experiment.id" [matTooltip]="tooltipService.generateExperimentTooltip(experiment)" matTooltipClass>
                                    {{experiment.description}}
                                </mat-option>
                            </mat-select>
                          <mat-error *ngIf="userInputForm.get('experimentId').hasError('required')">You must link your input to an Experiment</mat-error>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field class="w-100" [ngClass]="submitted && userInputForm.controls.deviceId.errors ? 'mat-form-field-invalid' : ''">
                          <input matInput placeholder="Device Name" formControlName="deviceId" required>
                          <mat-select formControlName="deviceId" required>
                              <mat-option *ngFor="let device of devices" [value]="device.id" [matTooltip]="tooltipService.generateDeviceTooltip(device)" matTooltipClass>
                                  {{device.name}}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="userInputForm.get('deviceId').hasError('required')">You must link your input to an existing device</mat-error>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                    <td>
                        <mat-form-field class="w-100" [ngClass]="submitted && userInputForm.controls.description.errors ? 'mat-form-field-invalid' : ''">
                            <input matInput placeholder="Input Description" formControlName="description" required>
                            <mat-error *ngIf="userInputForm.get('description').hasError('required')">You must provide an input description</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <!-- <tr>
                        <td>
                          <mat-form-field class="w-100"
                            [ngClass]="submitted && userInputForm.controls.inputTimestamp.errors ? 'mat-form-field-invalid' : ''">
                            <input matInput placeholder="Inout time" formControlName="inputTimestamp" (focus)="picker.open()" (dateChange)="updateRoute()" [matDatepicker]="picker" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker type="datetime" #picker></mat-datepicker>
                            
                          </mat-form-field>
                        </td>
                      </tr> -->
            
          </table>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="submit()" color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>