<!--<app-dynamic-form [questions]="questions" [postEndpoint]="postEndpoint"></app-dynamic-form>-->
<!--<div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Contact Information" [(ngModel)]="contactInfo" type="text">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="requestElevated">Request elevated access?</mat-slide-toggle>
  </div>
  <button mat-raised-button class="save-button" (click)="submit()" color="primary">Save</button>-->
<div class="login-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="signupForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
                <mat-form-field class="example-full-width"
                [ngClass]="submitted && signupForm.controls.name.errors ? 'mat-form-field-invalid' : ''">
                <input matInput placeholder="Name" formControlName="name" name="name" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field class="example-full-width"
                [ngClass]="submitted && signupForm.controls.email.errors ? 'mat-form-field-invalid' : ''">
                <input matInput placeholder="Email" formControlName="email" name="email" type="email" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field class="example-full-width"
                [ngClass]="submitted && signupForm.controls.password.errors ? 'mat-form-field-invalid' : ''">
                <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field class="example-full-width"
                [ngClass]="submitted && signupForm.controls.password2.errors ? 'mat-form-field-invalid' : ''">
                <input matInput placeholder="Re-enter Password" formControlName="password2" type="password" name="password2"
                  required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signup()" color="primary">Register</button>
    </mat-card-actions>
  </mat-card>
</div>