/*.form-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.save-button {
    float: right;
    margin-right: 24px;
}
*/

.login-container mat-card {
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 32px;
}

.w-100 {
    width: 100%;
}