/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(240, 245, 250)
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer {
  height: 50px;
}

.w-100 {
  width: 100%;
}
mat-tooltip-component > .mat-tooltip {
  white-space: pre;
}

.card-container mat-card {
  width: 50%;
  min-width: 350px;
  margin: auto;
  margin-top: 16px;
}

.mat-menu-content {
  padding: 0!important;
  background-color: rgba(0,0,0,.01);
}

.experiment-select .mat-form-field-wrapper {
  padding: 0!important;
}
.experiment-select .mat-form-field-underline {
  position: static;
}